@charset "utf-8";

// Import a Google Font
// @import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;
$white: #FFFFFF;

// Update Bulma's global variables
$family-sans-serif: "Open Sans";
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: #8FBC8B;
$light:#d8d8d8;
$info: #43a5df;
$link: #1E5631;
$success: #17B169;
$warning: #FFC72C;
$danger: #C41E3A;
$widescreen-enabled: false;
$fullhd-enabled: false;

$box-padding: 1rem;


@import "../node_modules/bulma/bulma.sass";
